# Comment on local
http://api.retrylife.ca

bind 0.0.0.0

root /var/www
gzip

# Comment on local
tls ewpratten@gmail.com

# uncomment on local
#tls off

ext .php .html
index index.php

fastcgi / php:9000 php {
    root /var/www/
}

log stdout
errors stderr
