# Comment on local
api.retrylife.ca

# uncomment on local
# bind 0.0.0.0

root /var/www
gzip

# Comment on local
tls ewpratten@gmail.com

# uncomment on local
#tls off

ext .php .html
index index.php

# cross origion
cors

fastcgi / php:9000 php {
    root /var/www/
}

log stdout
errors stderr
